.card {
    font-family: Arial;
    margin: 0 auto;
    margin-top: 10rem;
    max-width: 360px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (orientation:landscape) {
    .card {
        margin-top: 3.5rem;
    }
}

.card header img {
    width: 100%;
}

.card footer {
    margin: 0.75rem 1.25rem 0 1.25rem;
    padding-bottom: 1rem;
}

.card p {
    color: #404040;
    margin: 0;
}

.name {
    font-size: 20px;
    font-weight: bold;
}

.role {
    font-size: 15px;
    font-style: italic;
    padding-bottom: 1rem;
}

.email {
    padding-bottom: 0.3rem; 
    font-size: 14px;
}

.phone {
    font-size: 14px;
}

a {
    color: #0080c0;
    text-decoration: none;
}

.phone img, .email img {
    height: 1em;
    vertical-align: bottom;
    margin-right: 0.2rem;
}
